* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-image: url('https://source.unsplash.com/r6FU8zqrgdM');
  background-size: cover;
}

#root {
  height: 100%;
}

#app {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 800px;
  height: 600px;
  opacity: 0.9;
  animation: fadeIn 1s;
  background: #f1fbdd;
}

.calendar .calendar-header {
  display: flex;
  justify-content: center;
  height: 50px;
}

.calendar .calendar-body {
  display: flex;
  flex: 2;
}

.prev,
.current,
.next {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
}

.current {
  cursor: default;
}

.days-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 100%;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 1.5rem;
}

.hover {
  cursor: pointer;
}

.hover:hover {
  background: #c9eaad;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px rgb(0 0 0 / 40%);
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-container,
.submodal-container,
.confirm-container {
  position: fixed;
  padding: 20px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #efefef;
}

.modal-container {
  width: 600px;
  height: 450px;
  animation: modal 0.4s;
}

.submodal-container {
  width: 500px;
  height: 350px;
  animation: submodal 0.4s;
}

.confirm-container {
  width: 300px;
  height: 150px;
  animation: confirm 0.4s;
}

.modal-container h2,
.submodal-container h2,
.confirm-container h2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

.notify-container {
  display: flex;
  align-items: center;
  position: fixed;
  padding: 5px 20px;
  right: 2%;
  top: 2%;
  background: #f7ffea;
  width: 400px;
  height: 80px;
  transform: translate(0%, 0%);
  opacity: 0.9;
  cursor: pointer;
  animation: notify 2s;
}

.notify-container h2 {
  font-size: 0.8rem;
}

.calendar,
.modal-container,
.submodal-container,
.confirm-container,
.notify-container {
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 40%);
}

/* prettier-ignore */
@keyframes modal {
  0% { transform: translate(-200%, -50%); }
  100% { transform: translate(-50%, -50%); }
}

/* prettier-ignore */
@keyframes submodal {
  0% { transform: translate(-50%, -200%); }
  100% { transform: translate(-50%, -50%); }
}

/* prettier-ignore */
@keyframes confirm {
  0% { transform: translate(200%, -50%); }
  100% { transform: translate(-50%, -50%); }
}

/* prettier-ignore */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.9; }
}

/* prettier-ignore */
@keyframes notify {
  0% { opacity: 0; transform: translate(200%, 0%); }
  20% { opacity: 0.5; transform: translate(0%, 0%); }
  100% { opacity: 0.9; transform: translate(0%, 0%); }
}

.col-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.col-container hr {
  width: 100%;
}

.stretch-item {
  flex: 2;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  gap: 5px;
  justify-content: right;
}

.buttons-container .link {
  border: 1px solid #ccc;
  padding: 5px 20px;
  border-radius: 7px;
  font-size: 1rem;
  background: #fdfdf8;
}

.buttons-container .link:hover {
  background: #d2d9c1;
}

.inputs-container {
  padding: 10px 0px;
}

.inputs-container label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.inputs-container input {
  font-size: 1rem;
  margin-left: 10px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  outline: none;
}

.inputs-container input[name='name'] {
  width: 350px;
}

.reminder-text {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 15px;
}

.bold {
  font-weight: bold;
}

.invalid {
  border: 1px solid red !important;
}

ul.events-list {
  list-style-type: none;
  padding: 5px 0px;
  height: 275px;
  overflow: auto;
}

ul.events-list li {
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: #D9ECEC;
}

::-webkit-scrollbar-thumb:vertical {
  -webkit-border-radius: 6px;
  background: #666;
}

::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-radius: 6px;
  background: #666;
}